<div class="contenedor">
    <section class="container noticias">
        <h2>NOTICIAS</h2>
        <div class=" news">
            @for(oneNews of news;track $index){
            <article>
                <div class="card mb-3" style="max-width: 700px;height: 390px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src={{oneNews.imagen}} class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{oneNews.titulo}}</h5>
                                <p class="card-text">{{oneNews.entradilla}}</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            }
        </div>
    </section>
    <section class="container patrocinados">
        <h2>PATROCINADAS</h2>

        @for(ad of sponsored;track $index){
        <article>
            <div class="card p-3 mb-3" style="width: 20rem; height:390px">
                <img src={{ad.imagen}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ad.titulo}}</h5>
                    <p class="card-text">{{ad.entradilla}}</p>
                    <a href={{ad.url}} class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </article>
        }

    </section>
</div>