.contenedor {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(238, 238, 241);
    margin-top: 40px;
    padding: 20px;
    margin-bottom: 100px;
}

.flex-boton {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;

}

button {
    padding: 10px;
    background-color: gold;
    border: 1px solid goldenrod;
    transition: .5s;
    border-radius: 5px;
    height: 50px;
    margin: 10px;

    &:hover {
        background-color: transparent;
    }
}

.articulo-card {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;

    p {
        margin: 10px 0 10px 0;
    }

    figure {
        width: 60%;
    }

    div {
        width: 100%;
        padding: 20px;
    }

    img {
        display: block;
        width: 100%;
    }
}

.articulos article {
    border: 1px solid rgb(216, 213, 213);
}

article {
    margin-bottom: 20px;
    border-radius: 5px;

    a {
        margin: 0 auto;
        text-decoration: none;
        color: black;
    }
}

small {
    color: grey;
}

.articulos,
.patrocinados {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noticias {
    width: 60%;
    margin-bottom: 0;
}

.patrocinados {
    width: 40%;
}

article {
    position: relative;
}

button .card-img-top {
    width: 100px;
    margin: 0 auto;
    box-sizing: content-box;
}


h2 {
    color: black;
    font-size: 120%;
    text-align: center;
    margin: 40px auto;
}

h3 {
    font-size: 130%;
    font-weight: bold;
}

@media(max-width:1004px) {
    .contenedor {
        flex-direction: column;
    }

    .patrocinados>div {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .articulo-card {
        flex-direction: column;
        width: 130%;

        div {
            width: 100%;
        }

        figure {
            width: 100%;
        }

        button {
            margin: 0 auto;
        }
    }
}

@media (max-width:768px) {
    .patrocinados>div {
        flex-direction: column;

    }
}