<div class="container bg-light rounded mt-4 vh-100 p-4 ">
    <h1 class="text-center">Nuevo post</h1>
    <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">


        <div class="mb-3">
            <label class="form-label">Título</label>
            <input type="text" class="form-control" formControlName="titulo">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Texto</span>
            <textarea aria-label="" class="form-control" formControlName="texto"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Imagen</label>
            <input type="text" class="form-control" formControlName="imagen">
        </div>
        <div class="mb-3">

            <select class="form-select" aria-label="Small select example" formControlName="categoria">
                <option>Elige una categoría</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Fecha</label>
            <input type="date" class="form-control" formControlName="fecha">
        </div>


        <input class="btn" type="submit" value="Añadir">

    </form>
</div>