<div class="container bg-light rounded mt-4 vh-100 p-4 ">
    <h1 class="text-center">Nuevo post</h1>
    <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">


        <div class="mb-3">
            <label class="form-label">Título</label>
            <input type="text" class="form-control" formControlName="titulo">
            @if(checkError('titulo', 'required')){
            <p class="error">El campo título es obligatorio</p>
            }
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Texto</span>
            <textarea aria-label="" class="form-control" formControlName="texto"></textarea>
            @if(checkError('titulo', 'required')){
            <p class="error">El campo descripción es obligatorio</p>
            }
        </div>

        <div class="mb-3">
            <label for="basic-url" class="form-label">Imagen</label>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4"
                    formControlName="imagen">
            </div>
            @if(checkError('imagen', 'required')){
            <p class="error">Tienes que añadir una imagen del viaje</p>
            }

        </div>


        <div class="mb-3">

            <select class="form-select" aria-label="Small select example" formControlName="categoria">
                <option selected="">Selecciona una categoría</option>
                @for(category of categories;track $index){
                <option>{{category.titulo}}</option>
                }
            </select>
            @if(checkError('imagen', 'required')){
            <p class="error">Tienes que escoger una categoría</p>
            }
        </div>
        <div class="mb-3">
            <label class="form-label">Fecha</label>
            <input type="date" class="form-control" formControlName="fecha">
            @if(checkError('imagen', 'required')){
            <p class="error">Tienes que seleccionar una fecha</p>
            }
        </div>


        <input class="btn" type="submit" value="Añadir">

    </form>
</div>