<div class="container bg-dark-subtle rounded mt-4  p-4 ">
    <h2 class="text-center">NUEVO POST</h2>
    <form class="mb-5" [formGroup]="blogForm" (ngSubmit)="onSubmit()">
        <div class=" input-group mb-3">
            <span class="input-group-text">Titulo</span>
            <input type="text" class="form-control" formControlName="titulo">
        </div>
        @if(checkError('titulo', 'required')){
        <div class="alert alert-danger" role="alert">
            El campo título es obligatorio
        </div>
        }
        <div class=" input-group mb-3">
            <span class="input-group-text">Nombre</span>
            <input type="text" class="form-control" formControlName="autor">
        </div>
        @if(checkError('autor', 'required')){
        <div class="alert alert-danger" role="alert">
            El campo autor es obligatorio
        </div>
        }
        <div class=" input-group mb-3">
            <span class="input-group-text">Apellidos</span>
            <input type="text" class="form-control" formControlName="apellidos">
        </div>
        @if(checkError('autor', 'required')){
        <div class="alert alert-danger" role="alert">
            El campo apellidos es obligatorio
        </div>
        }
        <div class="input-group mb-3">
            <span class="input-group-text">Experiencia</span>
            <textarea aria-label="" class="form-control" formControlName="texto">
            </textarea>
        </div>
        @if(checkError('texto', 'required')){
        <div class="alert alert-danger" role="alert">
            El campo descripción es obligatorio
        </div>
        }
        <div class="mb-3">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon3">Imagen</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4"
                    formControlName="imagen">
            </div>
            @if(checkError('imagen', 'required')){
            <div class="alert alert-danger" role="alert">
                Tienes que añadir una url de una imagen
            </div>
            }

        </div>

        <div class="mb-3">
            <select class="form-select" aria-label="Small select example" formControlName="categoria">
                <option selected="">Selecciona una categoría</option>
                @for(category of categories;track $index){
                <option>{{category.titulo}}</option>
                }
            </select>
        </div>
        @if(checkError('imagen', 'required')){
        <div class="alert alert-danger" role="alert">
            Tienes que escoger una categoría
        </div>
        }

        <div class=" input-group mb-3 fecha">
            <span class="input-group-text" id="basic-addon3">Fecha viaje</span>
            <input type="date" class="form-control" formControlName="fecha">
        </div>
        @if(checkError('imagen', 'required')){
        <div class="alert alert-danger" role="alert">
            Tienes que escoger una fecha
        </div>
        }

        <input class="btn" type="submit" value="Añadir">
    </form>
</div>
<ngx-sonner-toaster richColors position="bottom-center" />