select {
    width: 200px;

    background-color: goldenrod;
    border-radius: 5px;
}

.card {
    position: relative;
    text-align: center;

}

h3 {
    position: absolute;
    color: white;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    font-size: 120%;
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
}

p {
    text-align: left;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 150%;


}

img {
    filter: brightness(.7);
}

.by {
    display: flex;
    justify-content: space-around;


}

.card:hover {
    transition: .5s;
    scale: 1.05;
    box-shadow: 2px 2px 2px grey;
}