.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.articulos {
    margin: 10px 0;
    position: relative;
}

select {
    width: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid goldenrod;

    &:hover {
        scale: 1.05;
    }
}

div.card {
    position: relative;
    cursor: pointer;

}

h3 {
    position: absolute;
    color: white;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    font-size: 120%;
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
}

p {
    text-align: left;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 150%;
}

li {
    text-align: left;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 130%;
    text-transform: capitalize;
}

img {
    transition: .5s;
    filter: brightness(0.7);
    height: 200px;
}

.by {
    display: flex;
    justify-content: space-around;
}

.card:hover {
    transition: .5s;
    scale: 1.05;
    box-shadow: 2px 2px 2px grey;
}

@media(max-width:1004px) {
    select {
        margin: 20px auto;
    }

}