<section class="container p-4">
    <div>
        <h2 class="text-center">POSTS</h2>
        <select class="form-select " (change)="onChange($event)">
            <option value="categorias">Destinos</option>
            @for(category of categories;track $index){
            <option value="{{category.titulo.toLowerCase()}}">{{category.titulo}}</option>
            }
        </select>
    </div>
    <div>
        <div>
            <div class="contenedor">
                @for(post of posts;track $index){
                <article class="articulos" [routerLink]="['/post',post._id]">
                    <div class="card bg-light" style="width: 18rem;">
                        <img src={{post.imagen}} class="card-img-top" alt="...">
                        <div class="card-body p-1">
                            <h3 class="card-text">{{post.titulo.toUpperCase()}}</h3>
                        </div>
                        <div class="by">
                            <p>by {{post.autor}}</p>
                            <p>{{post.fecha|date:'dd-MM-yyyy'}}</p>
                        </div>
                    </div>
                    <!--<span class="badge text-bg-secondary">Nuevo</span>-->
                </article>

                }
            </div>
        </div>
    </div>
</section>