footer {
    background-color: black;
    /*position: sticky;
    bottom: 0;*/
    padding: 10px;

    .container {
        color: white;

        li {
            display: inline-block;
            font-size: 100%;
        }
    }
}

.wander {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 150%;

}

a {
    text-decoration: none;
    color: white;
}

footer div.container {
    display: flex;
    justify-content: space-between;
}

li {
    padding-right: 10px;

    &:hover:not(:first-child) {
        scale: 1.05;
    }
}

i {
    color: white;
    padding: 10px;

    &:hover {
        scale: 1.05
    }
}

@media(max-width:990px) {

    nav-bar {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    header.container {
        flex-direction: column;
        justify-content: center;
    }
}