header {
    display: flex;
    flex-wrap: wrap;
}

nav-bar {
    width: 60%;
    align-content: center;
}

footer {
    background-color: black;
    position: sticky;
    bottom: 0;
    padding: 10px;


    .container {
        color: white;

        li {
            display: inline-block;
            font-size: 100%;
        }
    }
}

.wander {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 150%;
}