<header class="container">
    <h1 [routerLink]="['/home']">The Wanderlust Blog</h1>
    <nav-bar></nav-bar>
</header>
<main>
    <router-outlet />
</main>
<footer class="fixed-bottom">
    <div class="container">
        <ul>
            <li>Copyright&copy;2025 -</li>
            <li class="wander"> The Wanderlust Blog -</li>
            <li>Aviso legal -</li>
            <li>Cookies</li>
        </ul>
        <div>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-tiktok"></i>
            <i class="fa-brands fa-x-twitter"></i>

        </div>
    </div>
</footer>