<div class="container ">
    <nav>
        <h1 [routerLink]="['/home']">The Wanderlust Blog</h1>
        <ul>
            <li [routerLink]="['/new']">Nuevo post</li>
            <li [routerLink]="['/posts']">Posts</li>
            <li [routerLink]="['/news']">Noticias</li>
        </ul>
        <form class="d-flex" [formGroup]="nameForm" (ngSubmit)="onSubmit()">
            <input class="form-control " for="nombre" type="search" placeholder="Busca un destino" aria-label="Búsqueda"
                formControlName="nombre">
            <input type="submit" value="🔍">
        </form>

    </nav>
    <hr>
</div>
<ngx-sonner-toaster position="top-center" />