.newPost {
    width: 100vw;
    height: 50vh;
    background-image: url(../../images/image.png);
    background-color: #898787;
    background-blend-mode: multiply;
    background-position: 20%;
    align-content: center;
    text-align: center;

}